:host{
    display: flex;
    background-color: white;
    margin-top: 47px;
}
.profile-details-box
{
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.12);
    position: relative;
}
.profile-details
{ 
    padding: 20px 0px;
    margin: 0px 16px;
    display: flex;
}
.profile-pic
{
    padding: 2px 22px;
}
.profile-name
{
    display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.profile-heading
{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.profile-sub-name
{
    font-size: 19px;
}
.down-arrow-img-wrapper
{
    position: absolute;
    right: 16px;
    top: 40px;
} 
i.fa
{
    color: rgba(0,0,0,0.3);
    font-size: 1.6em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    border-radius: 0.8em;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
.profile-actions span:nth-child(2)
{
   margin:0px 101px;
}
.profile-actions
{
    border-top: 1px solid #E8E8E8;
    padding: 20px 0px;
}
.profile-actions span:first-child
{
    margin-left: 52px;
}
.border-on-focus
{
    padding-bottom: 14px;
    border-bottom: 4px solid #17A2D4;
}


