
<div class="wrapper profile-details-box">
    <div class="profile-details">
        <img src="assets/Layer.svg" class="profile-pic">
        <span class="profile-name">
            <label class="profile-heading">ANCIENT WARRIORS</label>
            <label class="profile-sub-name">Soccer</label>
        </span>
    </div>
    <div class="down-arrow-img-wrapper">
        <i class="fa fa-angle-down down-arrow-img"></i>
    </div>

    <div class="profile-actions">
        <span>PROFILE</span>
        <span class="border-on-focus">SCHEDULE</span>
        <span>ROSTER</span>
    </div>
</div>

