    <span class="header-content">SPORTS EXCHANGE</span>
     <span class="button-wrapper">
                    <button class="form-action-sign-up">Sign Up</button>  
                    <button class="form-action-log-in">Log in</button>
    </span>
