:host{
    background-color: #17A2D4;
    padding:34px 0px;
    color: white;
    width: 100%;
    display: flex;
    position: relative;
}
.header-content
{   
    word-spacing: 5px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
}

button
{
    background-color: white;
    padding:16px 40px;
    font-size: 20px;
}
.button-wrapper
{
    position: absolute;
    right: 20px; 
    top:22%;
    
}
.form-action-sign-up
{
    margin-right: 20px;
}
button{
    border-radius: 5px;
    outline: none;
    box-shadow: none;  
}
button:hover{
    outline: none;
    box-shadow: none;  
}