

<app-ancient-warriors-header></app-ancient-warriors-header>

<app-ancient-warriors-profile-header></app-ancient-warriors-profile-header>

<app-ancient-warriors-event-buttons></app-ancient-warriors-event-buttons>

<app-ancient-warriors-details></app-ancient-warriors-details>

