<div class="wrapper">
    <div class="container">

        <div class="profile-list-name">
            <div class="profile-list-grp">
                <span class="list-numbering-wrapper">
                    <span class="list-numbering">
                        1
                    </span>
                </span>

                <span class="list-history">
                    <label class="list-history1">3-1 </label><br>
                    <label class="list-history2">Ancient Warriers VS Dare Devils</label><br>
                    <label class="list-history3">Tournament | 2016-01-26 | 05:00 PM</label><br>
                </span>
            </div>
            <div class="down-arrow-img-wrapper">
                <i class="fa fa-angle-down down-arrow-img"></i>
            </div>

        </div>


        <div class="profile-list-name">
                <div class="profile-list-grp">
                    <span class="list-numbering-wrapper">
                        <span class="list-numbering">
                            2
                        </span>
                    </span>
    
                    <span class="list-history">
                        <label class="list-history1">3-1 </label><br>
                        <label class="list-history2">Ancient Warriers VS Dare Devils</label><br>
                        <label class="list-history3">Tournament | 2016-01-26 | 05:00 PM</label><br>
                    </span>
                </div>
                <div class="down-arrow-img-wrapper">
                    <i class="fa fa-angle-down down-arrow-img"></i>
                </div>
    
            </div>

    </div>
</div>