:host{
    display: flex;
    background-color: white;
    padding-bottom: 30px;
}
.container
{
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.12);
    min-height: 500px;
}
i.fa
{
    color: rgba(0,0,0,0.3);
    font-size: 1.6em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    border-radius: 0.8em;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
.down-arrow-img-wrapper
{
    padding:24px 0px;
} 
.list-history
{
    margin-top: 4%;
    margin-left: 19px;
}
.list-numbering
{
    border-radius: 24px;
    color:  rgba(0,0,0,0.3);
    border: 1px solid;
    padding: 10px 15px;
    font-weight: bold;
}
.list-numbering-wrapper
{
    padding:35px 0px;  
}
.profile-list-grp
{
 display: flex;
}
.list-history1
{
    font-weight: bold;
    letter-spacing: 4.5px;
}
.list-history2
{
    letter-spacing: 1px;
    word-spacing: 1.5px;
}
.list-history3
{
    font-size: 15px;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.5);
}
.profile-list-name
{
    padding: 0px 29px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

