:host
{
    background-color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.12);
}
.header
{
    background-color: #17A2D4;
    padding:36px 45px;
    color: white;
    text-align: center;
}
.header-content
{   
    word-spacing: 5px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.form-input-group
{
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
}
.row
{
    margin-bottom: 20px;
}
.text-control
{
    background-color: #F6F6F6;
    border: 1px solid #E8E8E8;
    padding: 15px 15px;
    font-size: 16px; 
}
.radio-wrapper
{
    display: flex;
    flex-direction:row;
    /* justify-content: space-between; */
}
.form-options
{
    width: 50%;
    background-color: #F6F6F6;
    border: 1px solid #E8E8E8;
    padding: 15px 40px;
}
.radio-button
{
    color: white;
    font-size: 16px;
    /* min-width: 210px; */
}
.radio-text-control
{
    background-color: #F6F6F6;
    /* padding: 16px 8px; */
    font-size: 16px;
    /* min-width: 210px; */
    width: 50%;
    /* padding:4px 94px 4px 77px; */
    height: 1em;
    width: 50%;
}
label{
    font-size: 18px;
}

button{
    background-color: #17A2D4;
    color: white;
    padding: 11px 15px;
    text-align: left;
    font-size: 20px;
    position: relative;
}
.arrow
{
    border-left: 1px solid white;
    position: absolute;
    top: 16%;
    right: 0%;
    padding: 6px 20px;
}
.form-footer
{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 0;     
    position: relative; 
}
.form-footer span::after
{
    content: '';
    position: absolute;
    width: 120px;
    bottom: 1px;
    left: 38%;
    border-bottom: 1px solid;
}