<div class="header">
    <div class="header-content">
        Sign Up With Sports Exchange
    </div>
</div>
<div class="form-input-group">
        <input type="text" placeholder="First Name" class="row text-control">
        <input type="text" placeholder="Last Name" class="row text-control">

        <!-- <div class="row radio-controls">
            <span class="radio-text-control"><input type="radio" name="grp" class="radio-grp"><label>Coach</label></span>
            <span class="radio-text-control"><input type="radio" name="grp" class="radio-grp"><label>Roster</label></span>
        </div> -->
        
        <div class="radio-wrapper row">
                <div class="form-options">
                        <input type="radio" name="grp" class="radio-text-control">
                        <span>Coach</span>
                </div>
                       
                <div class="form-options">
                        <input type="radio" name="grp" class="radio-text-control"><span>Roster</span>
                </div>
        </div>
       

        <input type="text" placeholder="Mobile" class="row text-control">
        <input type="email" placeholder="Email" class="row text-control">
        <input type="password" placeholder="Password" class="row text-control">
       
        <button>
            <label>Register</label>
            <img src="assets/arrow.svg" class="arrow">
        </button>
</div>
<div class="form-footer">
    <span>Back To Login</span>
</div>
