:host
{
    background-color: white;
   
}
/* 
.box-wrapper
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.12); 
    padding: 25px;
    width:100%;
}

.text-control
{
    background-color: #F6F6F6;
    border: 1px solid #E8E8E8;
    padding: 16px 42px;
    width: 100%;
    font-size: 18px;
   
}
.row
{
    margin-bottom: 20px;
} */









