<!-- 
<div class="box-wrapper">
                <input type="email" placeholder="Email" class="text-control">
</div> -->



<!-- <div class="wrapper-main">
                <div class="wrapper">
<div class="wrapper__block"> -->
        <div class="wrapper">
                        <div class="wrapper-main">
                                        <input type="text" placeholder="Email" class="email1 form-control">
                                        <input type="text" placeholder="Email" class="email1 form-control">
                                        <input type="text" placeholder="Email" class="email1 form-control">
                        </div>
        </div>
       
        
<!-- </div> -->