<!-- <button routerLink="assignment1">Assignment1</button>
<button routerLink="assignment2">Assignment2</button>
<button routerLink="assignment3">Assignment3</button> -->
<router-outlet></router-outlet>
<!-- <app-practice></app-practice> -->