:host{
    display: flex;
    background-color: white;
}
.block-container-events
{
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.12);
}
.form-events
{
    display: flex;
    padding: 24px 30px 19px 30px;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}
.form-events div > button
{
    min-width: 180px;
    padding: 9px 0;
    font-size: 18px;
    border:none;

}
.upcoming-event
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color:#17A2D4;
    color:white;  
}
button:focus
{
    outline: none;
}
.past-event
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #E8E8E8;
}
.create-event
{
    border-radius: 3px;
    background-color:#17A2D4;
    color:white;  
}