<div class="wrapper block-container-events">

    <div class="form-events">
        <div class="button-grp">
            <button class="upcoming-event">Upcoming Events</button>
            <button class="past-event">Past Events</button>
        </div>
        <div>
            <button class="create-event">Create New Event</button>
        </div>
    </div>



</div>