:host
{
    background-color: #FFFFFF;	
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.12);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.header
{
    background-color: #17A2D4;
    padding: 32px 96px;
    color: white;
    text-align: center;
}
.header-content
{
    word-spacing: 10px;
    /* font-size: 10px; */
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
}
.form-input-group
{
    /* padding: 25px 20px; */
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
}
button:hover
{
    cursor: pointer;
    outline: none;
    box-shadow: none;
}
button
{
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}
.row
{
    margin-bottom: 20px;
}
.text-control
{
    background-color: #F6F6F6;
    border: 1px solid #E8E8E8;
    padding: 20px 22px;
    font-size: 15px; 
}
.social-buttons
{
    display: flex;
    justify-content:space-between;
}
.social-button
{
    padding: 19px 69px;
    color: white;
    font-size: 16px;
    /* width: auto;  */
    min-width: 210px;
}
.facebook
{
    background-color: blue;   
}
.google
{
    background-color: red;
}
.login-arrows
{
    display: flex;
    justify-content: flex-end;
}
.form-actions
{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.login
{
    background-color: #17A2D4;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    position: relative;
    padding: 19px;
} 
.login-grp
{
    /* padding: 19px 6px; */
}
.arrow
{
    position: absolute;
    border-left: 1px solid white;
    padding: 8px 22px;
    top: 16%;
    right: -3%;
}
.login-control1
{
    border-left: 2px solid white; 
    height: 30px; 
    position:absolute;
    left: 50%; 
    
}
.login-control2
{
    margin-top:10px;
    margin-left: 20px;
    border-top:2px solid white;
    padding-left: 30px;
}
.login-control2::after
{
    content:'';
    border:2px solid white;
    display: inline-block;
    padding: 10px;
    border-width: 0 6px 6px 0;
    transform: rotate(-45deg);
}
.column
{
    flex-direction: row;
}

