<div class="header">
    <span class="header-content">SPORTS EXCHANGE</span>
</div>

<div class="form-input-group">
        <input type="email" placeholder="Email" class="row text-control">
        <input type="password" placeholder="Password" class="row text-control">
        
        <button class="login row">
                <span class="login-grp">
                        Log in     
                        <span class="arrow">
                                <img src="assets/arrow.svg" >
                        </span>
                </span>   
        </button>

        <div class="social-buttons">
            <button class="social-button facebook row">
                Facebook
            </button>
            <button class="social-button google row">
                Google+
            </button>
        </div>

        <div class="form-actions">
            <span class="left">Forgot password?</span>
            <span class="right">Sign Up Now</span>
        </div>
</div>

