
<app-ancient-warriors-header></app-ancient-warriors-header>

<app-ancient-warriors-profile-header></app-ancient-warriors-profile-header>

<app-ancient-warriors-event-buttons></app-ancient-warriors-event-buttons>

<app-past-event-list-details></app-past-event-list-details>
