<div class="wrapper header-wrapper">
    <span class="header-content">SPORTS EXCHANGE</span>
    <span class="profile-pic-wrapper">
        <img src="assets/profile-pic.jpeg" class="profile-pic">
    </span>
    
</div>



