:host{
    background-color: #17A2D4;
    padding:10px 0px;
    color: white;
    display: flex;
    
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-content
{   
    word-spacing: 5px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.profile-pic
{
    height: 50px; 
    width:50px;
}
.profile-pic-wrapper
{
    border-radius: 93px;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border: 2px solid white;
}