:host{
    display: flex;
    background-color: white;
}
.block-detail-container
{
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.12);
}
.profile-list-name
{
    padding: 34px 0px;
    display: flex;
    margin: 0px 16px;
    position: relative;
}
.list-numbering
{
    border-radius: 24px;
    border-color: #E8E8E8;
    border: 1px solid;
    padding: 10px 15px;
    opacity: 0.3;
}
.list-naming
{
    margin-left: 19px;
}
.bin-img-wrapper
{
    position: absolute;
    top: 28px;
    right: 0px;
}
.bin-img
{
    height: 30px;
    width: 30px;
    border-radius: 18px;
    border-color: #E8E8E8;
    border: 1px solid;
    opacity: 0.3;
}

.profile-list
{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
}
.profile-list-history-heading
{
    padding: 10px 30px;
    background-color: #E8E8E8;
}
.profile-list-history-heading>span
{
    color:#8C8C8C;
    font-size:14px;
    margin-right: 92px;
}
.profile-list-history-details
{
    padding: 10px 30px;
}
.profile-list-history-details>span
{
    font-size:14px;
    margin-right: 68px;
}
.profile-detail-list:nth-child(4)
{
    margin-bottom: 10%;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.12);
} 











/* .profile-pic
{
    padding: 2px 22px;
}
.profile-details
{ 
    padding: 20px 16px;
    position: relative;
}
.profile
{
    position: absolute;
    top:46%;

}
.profile-name
{
    font-size:18px;
    position: absolute;
    top:36%;
    white-space: nowrap;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 0.5px;
}
.down-arrow-img
{
    height: 26px;
    border-radius: 18px;
    border-color: #8C8C8C;
    border: 1px solid;
    
}
.down-arrow-img-wrapper
{
    padding: 46px 32px;
}
.navbar span:nth-child(2)
{
    border-bottom: 4px solid #17A2D4;
    padding:14px 0px;
}
.navbar
{
    border-top: 1px solid #E8E8E8;
    padding: 20px 0px;
}
.navbar> span
{
    padding: 0px 52px;
}
.form-events
{
    
    display: flex;
    padding: 24px 30px 19px 30px;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}
.form-events div > button
{
    min-width: 180px;
    padding: 9px 0;
    font-size: 18px;
    border:none;

}
.upcoming-event
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color:#17A2D4;
    color:white;  
}
button:focus
{
    outline: none;
}
.past-event
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #E8E8E8;
}
.create-event
{
    border-radius: 3px;
    background-color:#17A2D4;
    color:white;  
}

.container-heading
{
    display: flex;
    justify-content: space-between;
    
}




*/