<div class="wrapper block-detail-container">
      
                <div class="profile-list-name">
                    <div class="profile-list-grp">
                        <span class="list-numbering">1</span>
                        <span class="list-naming">Ancient Warriers  VS  Dare Devils</span>
                    </div>
                   <div class="bin-img-wrapper">
                        <img src="assets/bin.jpeg" class="bin-img">
                   </div>
                    
                </div>


                <div class="profile-list">

                        <div class="profile-list-history-heading">
                                <span>Match Type</span>
                                <span>Date</span>
                                <span>Time</span>
                                <span>Venue Type</span>
                        </div>
                        <div class="profile-list-history-details">
                                <span>Tournament</span>
                                <span>26-01-2016</span>
                                <span>05:00 PM</span>
                                <span>Home</span>
                                
                        </div>

                </div>
        


                <div class="profile-list-name">
                        <div class="profile-list-grp">
                            <span class="list-numbering">2</span>
                            <span class="list-naming">Ancient Warriers  VS  Dare Devils</span>
                        </div>
                       <div class="bin-img-wrapper">
                            <img src="assets/bin.jpeg" class="bin-img">
                       </div>
                        
                    </div>
    
    
                    <div class="profile-list">
    
                            <div class="profile-list-history-heading">
                                    <span>Match Type</span>
                                    <span>Date</span>
                                    <span>Time</span>
                                    <span>Venue Type</span>
                            </div>
                            <div class="profile-list-history-details">
                                    <span>Tournament</span>
                                    <span>26-01-2016</span>
                                    <span>05:00 PM</span>
                                    <span>Home</span>
                                    
                            </div>
    
                    </div>
              

                    <div class="profile-list-name">
                            <div class="profile-list-grp">
                                <span class="list-numbering">3</span>
                                <span class="list-naming">Ancient Warriers  VS  Dare Devils</span>
                            </div>
                           <div class="bin-img-wrapper">
                                <img src="assets/bin.jpeg" class="bin-img">
                           </div>
                            
                        </div>
        
        
                        <div class="profile-list">
        
                                <div class="profile-list-history-heading">
                                        <span>Match Type</span>
                                        <span>Date</span>
                                        <span>Time</span>
                                        <span>Venue Type</span>
                                </div>
                                <div class="profile-list-history-details">
                                        <span>Tournament</span>
                                        <span>26-01-2016</span>
                                        <span>05:00 PM</span>
                                        <span>Home</span>
                                        
                                </div>
        
                        </div>
</div>
           