/* You can add global styles to this file, and also import other style files */
/* .wrapper
{
    
    
} */
*
{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    
}
.main-wrapper
{
    max-width: 500px;
}

.wrapper {
    width: 100%;
    margin:0px 288px;
}