<app-header></app-header>


<div class="wrapper">
        <span class="row box-heading">Recover Your Password </span>
        <input type="email" placeholder="Email" class="email">
        <p class="row">We will send you a link to reset your password</p>
        <div class="button-wrapper">
                <button>Send me a link</button>
        </div>
</div>