
 :host
{
    background-color: white;
    display: block;
}
.wrapper
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    padding:22px 25px;
}
.row
{
    margin-bottom: 20px;
}
.box-heading
{
    word-spacing: 5px;
    font-size: 24px;
    text-align: left;
} 
.email{
    padding: 18px 10px 18px 10px;
    width: 100%;
    font-size: 18px;
   
    border: 1px solid #E8E8E8;
    color: #969696;
    background-color: #F6F6F6;
}
p{
    margin-top:5px;
    color: #969696;
}
button{
    padding: 12px 18px;
    font-size: 18px;
    background-color:#17A2D4;
    color:white;  
    border-radius: 5px;
    outline: none;
    box-shadow: none;  
}
button:hover
{
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}
.button-wrapper
{
    display: flex;
    justify-content: center;
}
.temp-email
{

}
.box-margin
{
    margin-right: 100px;
}